.logo-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust height as needed */
    background-color: rgb(255, 255, 255); /* Background color of the banner */
  }
  
  .logo-image {
    max-height: 150%; /* Ensure the image does not exceed the height of the banner */
    max-width: 150%; /* Ensure the image does not exceed the width of the container */
    margin-bottom: 20px;
  }
  