.logo-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #000; /* or any color you prefer */
  }
  
  .logo-image {
    max-height: 50px; /* Adjust as needed */
  }
  
  .logout-button {
    background-color: white; /* Adjust color as needed */
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: white; /* Adjust hover color as needed */
  }
  